@font-face {
    font-family: 'Alverata';
    src: url('/fonts/Alverata.woff2') format('woff2'),
        url('/fonts/Alverata.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alverata';
    src: url('/fonts/Alverata-Bold.woff2') format('woff2'),
        url('/fonts/Alverata-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alverata';
    src: url('/fonts/Alverata-BoldItalic.woff2') format('woff2'),
        url('/fonts/Alverata-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alverata';
    src: url('/fonts/Alverata-Italic.woff2') format('woff2'),
        url('/fonts/Alverata-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Praxis Next';
    src: url('/fonts/PraxisNext-CnBold.woff2') format('woff2'),
        url('/fonts/PraxisNext-CnBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Praxis Next';
    src: url('/fonts/PraxisNext-CnMedium.woff2') format('woff2'),
        url('/fonts/PraxisNext-CnMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Praxis Next';
    src: url('/fonts/PraxisNext-CnSemiBold.woff2') format('woff2'),
        url('/fonts/PraxisNext-CnSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Praxis Next';
    src: url('/fonts/PraxisNext-CnMediumIt.woff2') format('woff2'),
        url('/fonts/PraxisNext-CnMediumIt.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Praxis Next';
    src: url('/fonts/PraxisNext-CnBoldIt.woff2') format('woff2'),
        url('/fonts/PraxisNext-CnBoldIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('/fonts/MyriadPro-Semibold.woff2') format('woff2'),
        url('/fonts/MyriadPro-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
